<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclectic.lineBreakpointMarker"
         name="Eclectic Breakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="org.eclectic.debug.ui.BreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>

   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
          targetID="org.eclectic.frontend.Koan"
          id="org.eclectic.frontend.Koan.rulerActions">
       <action
             label="Not Used"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="org.eclectic.frontend.Koan.doubleClickBreakpointAction"/>
      </editorContribution>
      <editorContribution
            id="org.eclectic.frontend.Script.rulerActions"
            targetID="org.eclectic.frontend.Script">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclectic.frontend.Script.doubleClickBreakpointAction"
               label="Not Used"
               style="push">
         </action>
      </editorContribution>
      <editorContribution
            id="org.eclectic.frontend.Mappings.rulerActions"
            targetID="org.eclectic.frontend.Mappings">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclectic.frontend.Mappings.doubleClickBreakpointAction"
               label="Not Used"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclectic.debug.ui.PatternMatchListenerDelegate"
            id="org.eclectic.debug.ui.consolePatternMatchListener"
            regex="\(\S*map\S*\)">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
 
</plugin>
