<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclectic.org/streaming/emf_java_compiler_tree"
            class="org.eclectic.test.nativejavaparser.ejctree.EjctreePackage"
            genModel="model/ejctree.genmodel"/>
   </extension>

</plugin>
